In [1]:
ages=[19,22,19,24,20,25,26,24,25,24]

ages.sort()
print("The sorted list of ages is:",ages)
# finidng the minimum and maximum age 
minimum_age=min(ages)
maximum_age=max(ages)

print("The maximum and minimum age from the given list :",minimum_age,maximum_age)

#adding the minimum and maximum age to the list

ages.extend((minimum_age,maximum_age))
print("The new upadted age list is:",ages)

#calculating the median of age list:
if len(ages) % 2 == 0:
    median = (ages[len(ages)//2] + ages[len(ages)//2-1])/2
else:
    median = ages[len(ages)//2]
print("The median of ages: ",median)
        
#average of the ages list:
average =sum(ages)/len(ages)
print("The average age of the given list:", average)

#range of the ages:

range_age=maximum_age-minimum_age
print("The ranage of the ages is",range_age)

The sorted list of ages is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The maximum and minimum age from the given list : 19 26
The new upadted age list is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
The median of ages:  24.0
The average age of the given list: 22.75
The ranage of the ages is 7

In [2]:
# creating the empty dictionary as dog
dog={}

#adding key and value to the dictionary here:
dog={'name':'puppy', 'color':'white&balck', 'breed': 'Husky','age':6,'legs':4} 
print(dog)

#creating the new dictionary and assigning keys and values here:
student={'first_name':'satya','last_name':'reddy','gender':'Male','age':26,'martialstatus':'single',
         'skills':['javascript','HTML'],'Country':'USA','city':'kansas','address':'antioch '} 

#length of student dictionary
length=len(student)
print(length)

#add value of the skills key
student['skills']

#datatype of the skills key here:
print(type(student['skills']))

#adding new skills to the sudent dictionary:
student['skills'].extend((('servicenow'),('python')))
print("the student details are:",student)

#keys list in the dictionary:
keys=list(student.keys())
print(keys)

#key values in the dictionary:
values=list(student.values())
print(values)

{'name': 'puppy', 'color': 'white&balck', 'breed': 'Husky', 'age': 6, 'legs': 4}
9
<class 'list'>
the student details are: {'first_name': 'satya', 'last_name': 'reddy', 'gender': 'Male', 'age': 26, 'martialstatus': 'single', 'skills': ['javascript', 'HTML', 'servicenow', 'python'], 'Country': 'USA', 'city': 'kansas', 'address': 'antioch '}
['first_name', 'last_name', 'gender', 'age', 'martialstatus', 'skills', 'Country', 'city', 'address']
['satya', 'reddy', 'Male', 26, 'single', ['javascript', 'HTML', 'servicenow', 'python'], 'USA', 'kansas', 'antioch ']

In [3]:
# CREATE THE NEW TUPLES WITHE THE NAMES AS SISTER AND BROTHER 

brother=('satya', 'san','sanju')
sisters=('keerth','jasmine')

#combining both brother and sister tuples to the new value as siblings:
siblings=brother+sisters
print(siblings)

#count the number of siblings and print those values:

total_siblings=len(siblings)
print(total_siblings)

# changes the tuples and adding the names of both mother and father and assign to the family members:

family_members=list(siblings)
family_members.extend(['nagend','kumar'])
family_members=tuple(family_members)
print(family_members)

('satya', 'san', 'sanju', 'keerth', 'jasmine')
5
('satya', 'san', 'sanju', 'keerth', 'jasmine', 'nagend', 'kumar')

In [11]:
#adding the set  here:

it_companies={'facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]

#calculatiung the length of it_companies:
companies_length=len(it_companies)
print(companies_length)

#adding new value 'Twitter'to the it_companies:
it_companies.add('Twitter')
print(it_companies)

#now adding multiple it companies at once to it:
it_companies.update({'Accenture','qualcomm','wipro'})
print(it_companies)

# Remove any one of the company here :

it_companies.remove('facebook')
print(it_companies)

#diff between dicatd and remove:

#discard() doesnot throw any error in the list while the remove()will throw an error if the element  is not found here and here add example in this for understanding:

it_companies.discard('Capgemini')


#joining A and  B
AB=A.union(B)
print(AB)

#find A intersection B
ab= A.intersection(B)
print(ab)

#A subset of B
print(A.issubset(B))

#checking the A and B are disjoint sets

print(A.isdisjoint(B))

#join A with B and B with A

c=A.symmetric_difference(B)
print(c)
#Symmetric difference. between a and b 

d=A.symmetric_difference(B)
print(d)
#deleting the sets completely
del AB
del ab


#convert the ages to a set and  comparing the length of teh list and the set

setlist_age=set(age)
print(len(age))
print(len(setlist_age))

7
{'Apple', 'Twitter', 'facebook', 'Amazon', 'Google', 'IBM', 'Microsoft', 'Oracle'}
{'facebook', 'Google', 'Twitter', 'Oracle', 'qualcomm', 'Apple', 'Amazon', 'Accenture', 'wipro', 'IBM', 'Microsoft'}
{'Google', 'Twitter', 'Oracle', 'qualcomm', 'Apple', 'Amazon', 'Accenture', 'wipro', 'IBM', 'Microsoft'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{27, 28}
{27, 28}
8
5

In [2]:
import math 
raidus=30
#finding the area of the circle 

_area_of_circle=math.pi*(raidus**2)
print("the area ofg the circle is:",round(_area_of_circle,2))

#calculating perimeter of the circle
_circum_of_circle= 2*math.pi +raidus
print("The circumference of circle:",round(_circum_of_circle,2))

#calculating area of  circle with the input raidus taken from user:
radius= float(input( "please enter the raidus:"))
_area_of_circle_radius=math.pi*(radius **2)
print("The are of the circle of the given radius is:",round(_area_of_circle_radius,2))

the area ofg the circle is: 2827.43
The circumference of circle: 36.28
please enter the raidus:30
The are of the circle of the given radius is: 2827.43

In [3]:
#given Statement

statement ="I am a teacher and I love to inspire and teach people"

#now here from the given statement we are spliting it using the split method :
split_stmt=statement.split()

#using the split method and set to get the unique words from that stmt:
uniq_words=set(split_stmt)


#counting the unique word in this stmt
print(len(uniq_words))

10

In [4]:
#usig tab escape sequence to this :

print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [19]:
#adding the given stmt here :

raidus =10
area=3.14*(raidus**2) 
print("The area of a circle with raidus %r is %a meter square"%((raidus, area)))

The area of a circle with raidus 10 is 314.0 meter square

In [2]:
# Creating the emplty list here:

weight_in_lbs=[]

#number of elements as input

n=int(input("Enter no.of students:"))

#interating till the range of student weights:

for i in range(n):
    
    lbs_list=int(input("enter the weights of students in lbs:"))
    #adding the weights
    weight_in_lbs.append(lbs_list)
    
    print("The weight of ",n,"students in kgs is:",weight_in_lbs)
    
    
    #creating an empty list for kgs 
    
    weight_in_kgs=[]
    for  i in weight_in_lbs:
        weight_in_kgs.append(round(i/2.205,2))
        
        print("The weights of same ",n,"students in kgs is:",(weight_in_kgs))

Enter no.of students:4
enter the weights of students in lbs:150
The weight of  4 students in kgs is: [150]
The weights of same  4 students in kgs is: [68.03]
enter the weights of students in lbs:155
The weight of  4 students in kgs is: [150, 155]
The weights of same  4 students in kgs is: [68.03]
The weights of same  4 students in kgs is: [68.03, 70.29]
enter the weights of students in lbs:145
The weight of  4 students in kgs is: [150, 155, 145]
The weights of same  4 students in kgs is: [68.03]
The weights of same  4 students in kgs is: [68.03, 70.29]
The weights of same  4 students in kgs is: [68.03, 70.29, 65.76]
enter the weights of students in lbs:148
The weight of  4 students in kgs is: [150, 155, 145, 148]
The weights of same  4 students in kgs is: [68.03]
The weights of same  4 students in kgs is: [68.03, 70.29]
The weights of same  4 students in kgs is: [68.03, 70.29, 65.76]
The weights of same  4 students in kgs is: [68.03, 70.29, 65.76, 67.12]